<% include partials/header %>
<meta name="apple-itunes-app" content="app-clip-bundle-id=5KLJKY3T39.com.citi.mobile.brave.fintech.iktest.Clip">
<h1>	Landing page  </h1>
<a href="/campgrounds">	Campground</a>
<% include partials/footer %>
